.scoreboard-container {
    background-color: #282c35;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 400px;

    .scoreboard-title {
        font-size: 24px;
        color: #00bfff;
        margin-bottom: 20px;
    }

    .score-list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .score-item {
            background-color: #00bfff;
            border-radius: 5px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;
            transition: background-color 0.3s, transform 0.2s;
            cursor: pointer;
            &:hover {
                background-color: #0096cc;
                transform: scale(1.05);
            }

            .player-name {
                font-size: 18px;
                color: white;
            }

            .win-count {
                font-size: 24px;
                font-weight: bold;
                color: #fff;
                background-color: #333;
                padding: 8px 15px;
                border-radius: 5px;
            }
        }
    }
}