.square {
    width: 60px;
    height: 60px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: #ccc;
    }
}